.app-header {
    background-color: var(--green);
    color: var(--yellow);
    padding: 1em;

    & .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block-end: 10px;
    }


    & .app-nav {
        display: flex;
        z-index: 20;

        & .menu {
            list-style-type: none;
            display: flex;
            padding: 0;
        }

        & .menuToggle input {
            display: none;
        }

        & .menu li {
            letter-spacing: 0.1rem;
            font-family: 'Edu VIC WA NT Beginner', cursive;
            margin-inline: 7px;
        }

        & .menuToggle a:not(li a) {
            text-decoration: none;
            transition: 0.1s;
        }

        & .menuToggle a:hover {
            filter: brightness(80%);
        }

        @include for-mobile-layout {
            & .menuToggle {
                position: relative;
                -webkit-user-select: none;
                user-select: none;
            }

            & .menuToggle input {
                display: block;
                width: 40px;
                height: 32px;
                position: absolute;
                top: -7px;
                left: -5px;
                margin: 0;

                cursor: pointer;

                opacity: 0;
                z-index: 30;

                -webkit-touch-callout: none;
            }

            & .menuToggle span {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;

                background: var(--yellow);
                border-radius: 3px;

                transform-origin: 4px 0px;

                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
            }

            & .menuToggle span:first-child {
                transform-origin: 0% 0%;
            }

            & .menuToggle span:nth-last-child(2) {
                transform-origin: 0% 100%;
            }

            & .menuToggle input:checked~span {
                opacity: 1;
                transform: rotate(45deg) translate(-2px, -1px);
                background: var(--yellow);
                z-index: 20;
            }

            & .menuToggle input:checked~span:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }

            & .menuToggle input:checked~span:nth-last-child(2) {
                transform: rotate(-45deg) translate(0, -1px);
            }

            & .menu {
                display: block;
                position: fixed;
                right: 0;
                overflow-y: auto;
                margin: -100px 0 0 -50px;
                padding: 20px;
                padding-top: 100px;

                background: var(--grey);
                box-shadow: -3px 4px 7px 0px rgba(0, 0, 0, 0.54);
                text-align: center;
                text-wrap: nowrap;
                border-radius: 10px;

                transform: translate(120%, 0);
                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
            }

            & .menu li {
                padding: 10px 0;
                font-size: 22px;
                color: var(--yellow);
                -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: var(--dark-color1);
            }

            & .menuToggle input:checked~ul {
                transform: translate(0, 0);
                overflow: hidden;
            }
        }
    }

    & .user-section:not(& .user-section .login-page) {
        display: flex;
        align-items: center;
        justify-content: center;

        &:has(.user-greet) {

            justify-content: space-between;
        }
    }

    & .user-section .login-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-block-end: 10px;

        & .inputs-container {
            display: flex;
            margin-block-end: 10px;

            & input {
                width: 110px;
                margin-inline: 10px;


                @include for-narrow-layout {
                    width: 200px;
                }

                @include for-normal-layout {

                    width: 300px;
                }

            }
        }
    }

    & .btns {
        text-align: center;
    }
}