.general-table {
    background-color: var(--green);
    color: var(--yellow);

    & td {
        padding: 10px;
        border-bottom: 1px solid var(--grey);
    }

    & thead {
        background-color: var(--grey);
    }
}