.toy-filter {
    margin-block-end: 30px;

    & form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 10px;

        &>* {
            align-self: center;
        }

    }


    & .filter {
        display: flex;
        align-items: center;

        & label {
            margin-inline-end: 10px;
        }
    }

    & fieldset {

        &.option-fieldset {
            width: fit-content;
            display: flex;
            flex-direction: column;
        }

        &:not(.MuiOutlinedInput-notchedOutline) {
            min-width: fit-content;
        }

        & .option-container {
            display: flex;
            align-items: center;
        }
    }
}