.toy-filter {
    margin-block-end: 30px;

    & form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 10px;


        @include for-mobile-layout {
            grid-template-columns: repeat(1, 1fr);

            & .fieldset-container {
                display: flex;

                &>* {
                    margin-inline: 5px;
                }
            }
        }


        @include for-narrow-layout {
            grid-template-columns: repeat(2, 1fr);
        }

        @include for-normal-layout {
            grid-template-columns: repeat(3, 1fr);
        }

        &>* {
            align-self: center;
        }

    }


    & .filter {
        display: flex;
        align-items: center;

        & label {
            margin-inline-end: 10px;
        }
    }

    & fieldset {

        &.option-fieldset {
            width: fit-content;
            display: flex;
            flex-direction: column;
        }

        &:not(.MuiOutlinedInput-notchedOutline) {
            min-width: fit-content;
        }

        & .option-container {
            display: flex;
            align-items: center;
        }
    }
}