* {
  box-sizing: border-box;
}

html {}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5em 0 .5em;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}

a.active {
  text-decoration: underline;
}

.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: var(--grey);
  color: var(--yellow);
  border: unset;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }
}

.out-of-stock {
  color: red;
}